<?php

declare(strict_types=1);

return PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setRules([
        'native_function_invocation' => [
            'exclude' => [
                '_'
            ]
        ],
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__ . '/src')
            ->append([__FILE__])
    )
;
