language: php
php:
- 7.1
- 7.2
- 7.3
matrix:
  include:
    - php: 7.1
      script:
      - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
      after_script:
      - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
    - php: 7.3
      script:
      - composer test-cs
      - composer test-md
before_script:
- travis_retry composer self-update
- travis_retry composer install --no-interaction --prefer-dist
script:
- vendor/bin/phpunit
- cd sample/ && composer update && php sample.php > /dev/null
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/56fbdc2d0c44773dc740
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: true      # default: false
