#
# Credential should be taken from https://blackfire.io/my/settings/credentials
#
BLACKFIRE_CLIENT_ID=<put Client ID here>
BLACKFIRE_CLIENT_TOKEN=<put Client Token here>
BLACKFIRE_SERVER_ID=<put Server ID here>
BLACKFIRE_SERVER_TOKEN=<put Server Token here>
